<div class="col-md-10 col-md-offset-2">
  <script type="text/ng-template" id="alert.html">
    <div class="alert" style="background-color:#fa39c3;color:white" role="alert">
      <div ng-transclude></div>
    </div>
  </script>

  <uib-alert ng-repeat="alert in pCtrl.alerts" type="{{alert.type}}" close="pCtrl.closeAlert($index)">
    {{alert.msg}}
  </uib-alert>

  <form name="project" class="form-horizontal" ng-submit="pCtrl.submit()">
    <fieldset>
      <!-- 名称 -->
      <div class="form-group">
        <label class="control-label col-sm-2" >项目名称</label>
        <div class="controls col-sm-4">
          <input type="text" class="form-control"
                 placeholder="项目名称" tabindex="1"
                 ng-model="pCtrl.formData.name"
                 required autofocus>
        </div>
      </div>

      <!-- 服务 -->
      <div class="form-group">
        <label class="control-label col-sm-2">services</label>
        <div class="controls col-sm-4">
            <div ng-repeat="added in pCtrl.servicesAdded track by $index">
              <em>{{added}}</em>
              <a ng-click="pCtrl.deleteService(added, $index)" href>x</a>
            </div>
            <input type="text" class="form-control"
                   placeholder="添加服务" tabindex="2"
                   ng-model="pCtrl.formData.services">
            <!-- service search input box -->
              <span uib-dropdown uib-keyboard-nav is-open="pCtrl.matched">
                <ul class="uib-dropdown-menu" uib-dropdown-toggle>
                  <li ng-repeat="service in pCtrl.match">
                    <a  ng-click="pCtrl.saveService(service)" href>{{service}}</a>
                  </li>
                </ul>
              </span>
        </div>
      </div>

      <!-- 电话 -->
      <div class="form-group">
        <label class="control-label col-sm-2">phone</label>
        <div class="controls col-sm-4">
          <input type="text" class="form-control"
                 placeholder="项目负责人电话" tabindex="3"
                 ng-model="pCtrl.formData.phone"
                 required>
        </div>
      </div>

      <!-- 域名 -->
      <div class="form-group">
        <label class="control-label col-sm-2">domain</label>
        <div class="controls col-sm-4">
          <input type="text" class="form-control"
                 placeholder="域名(可选)" tabindex="2"
                 ng-model="pCtrl.formData.domain">
        </div>
      </div>



      <div class="form-group">
        <label class="control-label col-sm-2"></label>
        <div class="col-sm-4">
          <button type="submit" class="btn btn-primary" tabindex="4">Submit</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>
