<ul id="toolbar" class="row">
  <li><button class="col-md-2 save" ng-click="pidCtrl.saveTable()">Save Service</button></li>
  <li><button class="col-md-2 add" ng-click="pidCtrl.newTableRow()">Add Field</button></li>
  <li><button class="col-md-2 delete" ng-click="pidCtrl.deleteTable()">Delete Service</button></li>
</ul>

<div>
  <table id="service_id" class="table table-hover">
    <thead>
    <tr class="row">
      <th class="col-md-4">key</th>
      <th class="col-md-4">value</th>
    </tr>
    </thead>
    <tbody>
    <tr class="row" ng-repeat="(key, data) in pidCtrl.project">
      <th class="col-md-4">
        <project-table-key bind-value="key"
                           modify-table-key="pidCtrl.modifyRowKey(key, newkey)"
                           delete-row="pidCtrl.deleteTableRow(key)">
        </project-table-key>
      </th>
      <td class="col-md-4">
        <project-table-value  bind-key="key"
                              bind-value="data.v"
                              modify-row-value="pidCtrl.modifyRowValue(key, value)"
                              push-alert="pidCtrl.pushAlert(msg)">
        </project-table-value>
      </td>
    </tr>
    </tbody>
  </table>
</div>