
<form name="serviceForm" ng-submit="sCtrl.serviceSubmit()">
    <div class="form-group">
        <label>service id</label>
        <label>
            <input type="text" class="form-control" ng-model="sCtrl.service_id">
        </label>
    </div>
    <div class="form-group">
        <label>service name</label>
        <label>
            <input type="text" class="form-control" ng-model="sCtrl.serviceFormData.name">
        </label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<span>{{sCtrl.test }}</span>

<span>{{sCtrl.service_id }}</span>