<script type="text/ng-template" id="alert.html">
    <div class="alert" style="background-color:#fa39c3;color:white" role="alert">
        <div ng-transclude></div>
    </div>
</script>

<uib-alert ng-repeat="alert in sCtrl.alerts"
           type="{{alert.type}}"
           close="sCtrl.closeAlert($index)">{{alert.msg}}</uib-alert>



<form name="serviceForm" ng-submit="sCtrl.serviceSubmit()">
    <div class="form-group">
        <label>service id</label>
        <label>
            <input type="text" class="form-control" ng-model="sCtrl.service_id">
        </label>
    </div>
    <div class="form-group">
        <label>service name</label>
        <label>
            <input type="text" class="form-control" ng-model="sCtrl.serviceFormData.name">
        </label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<span>{{sCtrl.alerts }}</span>

<span>{{sCtrl.service_id }}</span>