<ul id="toolbar" class="row">
  <li><button class="col-md-2 save" ng-click="sidCtrl.saveTable()">Save Service</button></li>
  <li><button class="col-md-2 add" ng-click="sidCtrl.newTableRow()">Add Field</button></li>
  <li><button class="col-md-2 delete" ng-click="sidCtrl.deleteTable()">Delete Service</button></li>
</ul>

<div>
  <table id="service_id" class="table table-condensed table-hover">
    <thead>
    <tr class="row">
      <th class="col-md-4">key</th>
      <th class="col-md-4">value</th>
    </tr>
    </thead>
    <tbody>
    <tr class="row" ng-repeat="(key, data) in sidCtrl.service">
      <th class="col-md-4">
        <service-table-key bind-value="key"
                           push-alert="sidCtrl.pushAlert(msg)"
                           modify-row-key="sidCtrl.modifyRowKey(key, newkey)"
                           delete-row="sidCtrl.deleteTableRow(key)">
        </service-table-key>
      </th>
      <td class="col-md-4">
        <service-table-value  bind-key="key"
                              bind-value="data.v"
                              modify-row-value="sidCtrl.modifyRowValue(key, value)">
        </service-table-value>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<script type="text/ng-template" id="alert.html">
  <div class="alert" style="background-color:#fa39c3;color:white" role="alert">
    <div ng-transclude></div>
  </div>
</script>

<uib-alert ng-repeat="alert in sidCtrl.alerts" type="{{alert.type}}" close="sidCtrl.closeAlert($index)">
  {{alert.msg}}
</uib-alert>

{{sidCtrl.service}}