<div>
  <table id="service_id" class="table table-condensed table-hover">
    <thead>
    <tr class="row">
      <th class="col-md-4">key</th>
      <th class="col-md-4">value</th>
    </tr>
    </thead>
    <tbody>
    <tr class="row" ng-repeat="(key, value) in sidCtrl.service">
      <th class="col-md-4">
            <row-key bind-key="key" bind-value="key"
                     modify-table-key="sidCtrl.modifyTableKey(key, newkey)"
                     delete-row="sidCtrl.deleteTableRow(key)">
            </row-key>
      </th>
      <td class="col-md-4">
            <row-value  bind-key="key" bind-value="value.v"></row-value>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<!--<div>{{sidCtrl.service}}-->
<!--</div>-->
