
<div>
  <table id="service_id" class="table table-condensed table-hover">
    <thead>
    <tr class="row">
      <th class="col-md-4">key</th>
      <th class="col-md-4">value</th>
    </tr>
    </thead>
    <tbody>
      <my-tr bind-value="sid2Ctrl.service"></my-tr>
    <!--<tr class="row" ng-repeat="(key, value) in sid2Ctrl.service">-->
      <!--<th class="col-md-4">-->
        <!--<row-key  bind-value="key"></row-key>-->
      <!--</th>-->
      <!--<td class="col-md-4">-->
        <!--<row-value  bind-value="value"></row-value>-->
      <!--</td>-->
      <!--<row bind-key="key" bind-value="value"></row>-->
    <!--</tr>-->
    </tbody>
  </table>
</div>