<div class="col-md-10 col-md-offset-2">
  <div>
    <span>共有
      <a ui-sref="root.listService({database: mCtrl.database, services: mCtrl.services})">{{mCtrl.services.length}}</a>个服务
    </span>
  </div>
  <div>
    <span>共有
      <a ui-sref="root.listProject({database: mCtrl.database, projects: mCtrl.projects})">{{mCtrl.projects.length}}</a>个项目
    </span>
    <a ng-show="mCtrl.database" ui-sref="root.projectAdd({database: mCtrl.database, projects:mCtrl.projects, servicesPool: mCtrl.services})">添加项目</a>
  </div>
</div>